# Nuxt dev/build outputs
client/output
client/data
client/nuxt
client/nitro
client/cache
client/dist

# Node dependencies
client/node_modules

# Logs
client/logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
# ------------------------
# Go backend
# ------------------------
server/bin/
server/vendor/
server/.env
server/.DS_Store
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
# ------------------------
# Go backend
# ------------------------
server-2/bin/
server-2/vendor/
server-2/.env
server-2/.DS_Store
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
